.order-container {
    text-align: center;
    margin-top: 20px;
}

.order-list {
    display: flex;
    justify-content: center;
}

.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px;
    text-align: left;
}

.order img {
    width: 150px;
    padding: 2px;
    border-radius: 5px;
}

.order-details {
    width: 200px;
}

.order p {
    margin: 5px 0;
}